<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css} " />
</head>

<body>
    <div class="container">
        <div class="col-md-6">
            <form action="#" th:action="@{/todo/{id}(id=${todo.id})}" th:object="${todo}" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" th:field="*{title}" id="title"
                        placeholder="Enter todo title" required>
                    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" th:field="*{completed}" id="completed">
                    <label class="form-check-label" for="completed">
                        Completed
                    </label>
                </div>

                <button type="submit" class="btn btn-primary">Update Todo</button>
                <a th:href="@{/}" class="btn btn-secondary ml-2">Cancel</a>

                <input type="hidden" th:field="*{id}" />
                <input type="hidden" th:field="*{createdDate}" />
                <input type="hidden" th:field="*{modifiedDate}" />
            </form>
        </div>
    </div>
</body>

</html>